<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
<div th:replace="fragments/contentTop :: contentTop"></div>
<script sec:authorize="isAuthenticated()">
  function moveCommentForm(event) {
    var target = event.target;
    target.appendChild(document.getElementById("commentForm"));
  }
  function registComment() {
    var $userId = '[[${#authentication.name}]]';
    var $boardId = [[${board.id}]];
    var $content = document.getElementById("content").value;
    var $url = "/board/" + boardId + "/comment";

    $.ajax({
      url: $url,
      data: {boardId: $boardId, content: $content, writerId: $userId},
      method: "POST",
      dataType: "json"
    })
      .done(function (json) {
      })
      .fail(function (xhr, status, errorThrown) {
        alert("test2");
      });
  }
</script>
<!---start-content---->
<div class="content">
  <div class="wrap">
    <div class="single-page">
      <div class="single-page-artical">
        <div class="artical-content">
          <!--<img th:src="@{/image/single-post-pic.jpg}" title="banner1">-->
          <h3 th:text="${board.title}"></h3>
          <p th:text="${board.content}"></p>
        </div>
        <div class="artical-links">
          <ul>
            <li><a href="#"><img th:src="@{/image/blog-icon2.png}" title="Admin"><span>admin</span></a></li>
            <li><a href="#"><img th:src="@{/image/blog-icon3.png}" title="Comments"><span>No comments</span></a>
            </li>
            <li><a href="#"><img th:src="@{/image/blog-icon4.png}"
                                 title="Lables"><span>View posts</span></a></li>
          </ul>
        </div>
        <div class="share-artical">
          <ul>
            <li><a href="#"><img th:src="@{/image/facebooks.png}" title="facebook">Facebook</a></li>
            <li><a href="#"><img th:src="@{/image/twiter.png}" title="Twitter">Twiiter</a></li>
            <li><a href="#"><img th:src="@{/image/google+.png}" title="google+">Google+</a></li>
            <li><a href="#"><img th:src="@{/image/rss.png}" title="rss">Rss</a></li>
          </ul>
        </div>
        <div class="clear"></div>
      </div>
      <!---start-comments-section--->
      <div class="comment-section">
        <div class="grids_of_2">
          <h2>Comments</h2>
          <div th:each="comment : ${board.comments}">
            <div class="grid1_of_2" th:classappend="${comment.lookupCommentId == null} ? '' : 'left'">
              <div class="grid_img">
                <a href=""><img th:src="@{/image/pic10.jpg}" alt=""></a>
              </div>
              <div class="grid_text">
                <h4 class="style1 list"><a href="#" th:text="${comment.writerId}"></a></h4>
                <h3 class="style"
                    th:text="${#temporals.format(comment.regDate, 'yyyy/MM/dd HH:mm')}"></h3>
                <p class="para top" th:text="${comment.content}"></p>
                <div onclick="moveCommentForm(event)"><a href="#" class="btn1" sec:authorize="isAuthenticated()">Click to Reply</a></div>
              </div>
              <div class="clear"></div>
            </div>
          </div>
          <div sec:authorize="isAuthenticated()" class="artical-commentbox">
            <h2>Leave a Comment</h2>
            <div id="commentForm" class="table-form">
              <form action="#" method="post" name="post_comment">
                <div>
                  <label>Your Comment<span>*</span></label>
                  <textarea id="content"></textarea>
                </div>
              </form>
              <input type="button" value="submit" onClick="registComment()">
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
      <!---//End-comments-section--->
    </div>
  </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>

