<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>
<body>
<div class="content">
    <div class="wrap">
        <div class="table-form">
            <form method="POST">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <div>
                    <label for="id">ID</label>
                    <input id="id" type="text" name="id"/>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input id="password" type="password" name="password"/>
                </div>
                <input class="login-btn waves-effect waves-light btn" type="submit" value="로그인"/>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>